.venv/
__pycache__/
_pycache_/
*.pyc
*.pyo
*.pyd
.git/
.env
.env.*
service_account.json
*.sqlite3
*.log
*.cache
*.tmp
.DS_Store
slides/
chroma_db/
chroma_bonus/
chroma_db_langchain/
data/
day1_morning_rag/
day2_agents/
day3_multiagent/runs/
day4_enterprise/runs/
ui/
